<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button >
        <img src="./assets/img/DuocBlanco.png" width="200px">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="espaciado"></div>
  <div class="form">
    <ion-item lines='none'>
      <ion-input placeholder="Usuario"></ion-input>
    </ion-item>

    <ion-item lines='none'>
      <ion-input placeholder="Contraseña" type='password'></ion-input>
    </ion-item>
    
    <ion-button color='dark' expand='block' (click)="mensajeCargando()" >Ingresar</ion-button>
    
  
    <br>
    <br>
    <a href="/cambio-contrasena">Olvidé mi contraseña</a>
    
    <img class="acreditado" src="./assets/img/Acreditado.png">
  </div>
</ion-content>