<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button>
        <img src="./assets/img/DuocBlanco.png" width="200px">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<body>
  <ion-content>
    <ion-card class="card">
      <img src="./assets/img/wrxsti.jpg" />
      <ion-card-header>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/img/PerfilMauri.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Mauricio Canales</h2>
              <p>Ing. en informática</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-card-subtitle>Destino:</ion-card-subtitle>
        <ion-card-title>Puente Alto</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        <ion-card-subtitle>Asientos Disponibles:</ion-card-subtitle>
        <ion-card-title>4</ion-card-title>
        <br>
        <ion-button color="dark" expand='block'>Ver más</ion-button>
      </ion-card-content>
    </ion-card>
    
    <ion-card class="card">
      <img src="./assets/img/Auto1.jpg" />
      <ion-card-header>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/img/perfilAle.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Alejandro Momberg</h2>
              <p>Ing. en informática</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-card-subtitle>Destino:</ion-card-subtitle>
        <ion-card-title>Santiago Centro</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        <ion-card-subtitle>Asientos Disponibles:</ion-card-subtitle>
        <ion-card-title>3</ion-card-title>
        <br>
        <ion-button color="dark" expand='block'>Ver más</ion-button>
      </ion-card-content>
    </ion-card>

    <ion-card class="card">
      <img src="./assets/img/nissanv16.jpg" />
      <ion-card-header>
        <ion-list>
          <ion-item>
            <ion-avatar slot="start">
              <img src="./assets/img/PerfilMauri.jpg">
            </ion-avatar>
            <ion-label>
              <h2>Mauricio Canales</h2>
              <p>Ing. en informática</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <ion-card-subtitle>Destino:</ion-card-subtitle>
        <ion-card-title>Macul</ion-card-title>
      </ion-card-header>
      <ion-card-content> 
        <ion-card-subtitle>Asientos Disponibles:</ion-card-subtitle>
        <ion-card-title>1</ion-card-title>
        <br>
        <ion-button color="dark" expand='block'>Ver más</ion-button>
      </ion-card-content>
    </ion-card>

    <img class="acreditadoHome" src="./assets/img/Acreditado.png">
  </ion-content>
</body>

