.form{
  ion-item{
      border-radius: 5px;
      border-color: grey;
      border-width: 2px;
      border-style: solid;
      margin-bottom: 10px;
  }
}

.espaciado{
  margin-bottom: 70px;
}

.acreditado{
  margin-top: 125px;
}
