<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-button>
        <img src="./assets/img/DuocBlanco.png" width="200px">
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<body>
  <div class="espaciado"></div>
  <ion-content class="card">
    <ion-card>
      <img src="./assets/img/Auto1.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>

    <ion-card>
      <img src="./assets/img/Auto1.jpg" />
      <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
      </ion-card-content>
    </ion-card>
  </ion-content>
  
  <ion-content class="ion-padding ion-text-center">
    <div class="espaciado"></div>
  
    <div class="form">
      
    </div>
  
    <img class="acreditado" src="./assets/img/Acreditado.png">
  </ion-content>
</body>

