.form{
  ion-item{
      border-radius: 5px;
      border-color: grey;
      border-width: 2px;
      border-style: solid;
      margin-bottom: 10px;
  }
}

.margentop{
  margin-top: 120px;
}

.acreditado{
  margin-top: 125px;
}

.Titulo{
  margin-top: 100px;
}

.card{
  margin-top: 50px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  border-width: 1px;
}

.acreditadoHome{
  margin-top: 30px;
  margin-bottom: 50px;
}

